@font-face {
    font-family: odin-bold;
    src: url("assets/fonts/Norse-Bold.woff2") format("woff2"),
        url("assets/fonts/otf/Norse-Bold.otf") format("otf");
    font-display: swap;
}

:root {
    --left-pad: 5rem;
}

body {
    margin: 0;
    display: flex;

    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.sidebar {
    min-width: 32vw;
    max-width: 640px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url("assets/img/leaf-splash.jpg");
    color: white;
}

.logo {
    height: 150px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.603);
}

.logo img {
    height: 85%;
}

.logo h1 {
    display: inline-block;

    font-family: odin-bold;
    font-size: 100px;
}

.sidebar p {
    text-align: center;

    font-size: small;
}

.sidebar a:visited,
.sidebar a:link {
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-color: #f5f5f5;
}

.content > h2,
.data,
.create {
    padding-left: var(--left-pad);
}

.content h2 {
    padding-right: 20rem;
}

form {
    margin-top: 1.5rem;
    width: 100%;
}

.data {
    padding-top: 1rem;
    padding-bottom: 1.5rem;

    background-color: white;
    box-shadow: 0 2px 5px #ccc;
}

.data h2 {
    margin-bottom: 0;
}

.data p {
    display: inline-block;
    margin-right: 5rem;
}

label {
    font-size: small;
    color: rgb(99, 98, 98);
}

input {
    display: block;
    width: 250px;
    height: 1.5rem;

    border: 1px solid lightgray;
    border-radius: 5px;
}

input:focus {
    border-color: blue;
    box-shadow: 1px 1px 3px;
}

input:invalid {
    border-color: orangered;
}

.create {
    padding-top: 1.5rem;
}

button {
    padding: .5em 3em;
    margin-top: 1rem;
    margin-bottom: 1rem;

    border-radius: 8px;
    background-color: #596D48;

    color: white;
    font-size: large;
    font-weight: bold;
}

button:hover {
    border-color: white;
    cursor: pointer;
}

.create a {
    color: #596D48;

    text-decoration: none;
    font-weight: bold;
}

.create a:hover {
    text-decoration: underline;
}